* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
	height: 100vh;
	background-color: black;
}

header {
	text-align: center;
	background-color: #000;
	color: white;
	padding: 2rem 0;
}

header h1 {
	margin-bottom: 1rem;
	border: 1px solid white;
	display: inline-block;
	padding: 0.5rem;
}

header nav {
	list-style: none;
}

header nav a {
	color: white;
	text-decoration: none;
	padding: 0.5rem 1rem;
	display: inline-block;
}

main .hero-image-container {
	height: 25em;
	background-size: cover;
	background-position: center;

	display: flex;
	align-items: center;
	justify-content: center;
}

main .hero-image-container .overlay {
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 1rem;
}

main ol {
	list-style: none;
	padding: 1rem;
}

main ol li {
	margin-bottom: 1rem;
}

main ol li article {
	background-color: white;
	padding: 1rem;
}

main ol li article header {
	background-color: white;
	color: black;
	padding: 0;
	padding-bottom: 0.5rem;
	margin-bottom: 0.75rem;

	display: flex;
	flex-direction: column;
	text-align: left;
	gap: 0.5rem;

	border-bottom: 1px solid grey;
}

main ol li article header aside {
	display: flex;
	justify-content: space-between;
}

main ol li article p.truncate {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
