* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
	height: 100vh;
	background-color: black;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	text-align: center;
	background-color: #000;
	color: white;
	padding: 2rem 0;
}

header a {
	color: white;
	text-decoration: none;
}

header h1 {
	margin-bottom: 1rem;
	border: 1px solid white;
	display: inline-block;
	padding: 0.5rem;
}

header nav {
	list-style: none;
}

header nav a {
	color: white;
	text-decoration: none;
	padding: 0.5rem 1rem;
	display: inline-block;
}

main {
	flex: 1;
}

main .hero-image-container {
	height: 35rem;
	background-size: cover;
	background-position: center;

	display: flex;
	align-items: center;
	justify-content: center;
}

main .hero-image-container .overlay {
	color: white;
	background-color: rgba(0, 0, 0, 0.9);
	box-shadow: 0 0 15px black;
	padding: 1rem;
}

main ol {
	list-style: none;
	padding: 1rem;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
}

main ol li {
	margin-bottom: 1rem;
}

main ol li:last-child {
	margin-bottom: 0;
}

.blogCard {
	background-color: white;
	padding: 1rem;
}

.blogCard header {
	background-color: white;
	color: black;
	padding: 0;
	padding-bottom: 0.5rem;
	margin-bottom: 0.75rem;

	display: flex;
	flex-direction: column;
	text-align: left;
	gap: 0.5rem;

	border-bottom: 1px solid grey;
}

.blogCard header aside {
	display: flex;
	justify-content: space-between;
}

.blogCard p.truncate {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Forms */
main form {
	padding: 0.75rem;
	height: 100%;
	padding-top: 10rem;
	width: fit-content;
	margin: 0 auto;

	color: white;
	text-align: center;
}

main form fieldset {
	display: grid;
	grid-template-columns: 1fr 2fr;
	text-align: left;

	padding: 0.75rem;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

main form button {
	width: fit-content;
	background-color: black;
	color: white;

	padding: 0.5rem;
	border: 1px solid white;
	border-radius: 0.25rem;
}

main form button:active {
	background-color: white;
	color: black;
}

footer {
	background-color: white;
	color: black;
	text-align: center;
	padding: 0.25rem;
	margin: 0 1rem;
}

/* TABLET STYLES */

@media screen and (min-width: 630px) {
	main ol li:last-child {
		margin-bottom: 1rem;
	}

	.blogCard {
		height: 100%;
	}
}

@media screen and (min-width: 1015px) {
	#root {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	header {
		display: flex;
		justify-content: space-between;
		padding: 3rem;
		align-items: center;
	}

	header h1 {
		margin: 0;
	}

	header nav ul {
		display: flex;
		gap: 1rem;
		list-style: none;
	}

	footer {
		margin-top: auto;
		background-color: black;
		color: white;
	}
}
